outputs/*.csv
.DS_Store
outputs/sensitivity/no_presym_table0.2_minother_4_wfh_0_trace_0.95_symp_0.6_app_0.53_tasymp_0.5.csv
outputs/sensitivity/late_detection_table0.2_minother_4_wfh_0_trace_0.95_symp_0.6_app_0.53_tasymp_0.5.csv
outputs/sensitivity/HH_SAR_higher_table0.4_minother_4_wfh_0_trace_0.95_symp_0.6_app_0.53_tasymp_0.5.csv
outputs/sensitivity/fast_isolation_table0.2_minother_4_wfh_0_trace_0.95_symp_0.6_app_0.53_tasymp_0.5.csv
outputs/sensitivity/compile_table_SAR.csv
outputs/sensitivity/compile_table_duration.csv
outputs/sensitivity/CC_SAR_higher_table0.2_minother_4_wfh_0_trace_0.95_symp_0.6_app_0.53_tasymp_0.5.csv
outputs/rr_supp_plot.png
outputs/rr_out/RR_pop_testing.csv
outputs/rr_out/RR_no_measures.csv
outputs/rr_out/RR_isolation_only.csv
outputs/rr_out/RR_isolation_manual_tracing_met_only.csv
outputs/rr_out/RR_isolation_manual_tracing_met_limit.csv
outputs/rr_out/RR_isolation_manual_tracing.csv
outputs/rr_out/RR_hh_work_only.csv
outputs/rr_out/RR_hh_quaratine_only.csv
outputs/rr_out/RR_cell_phone_met_limit.csv
outputs/rr_out/RR_cell_phone.csv
outputs/plot_symp.png
outputs/plot2.png
outputs/plot1.png
outputs/sensitivity/no_presym_table0.2_minother_4_wfh_0_trace_0.95_symp_0.6_app_0.53_tasymp_0.5.csv
outputs/sensitivity/late_detection_table0.2_minother_4_wfh_0_trace_0.95_symp_0.6_app_0.53_tasymp_0.5.csv
outputs/sensitivity/HH_SAR_higher_table0.4_minother_4_wfh_0_trace_0.95_symp_0.6_app_0.53_tasymp_0.5.csv
outputs/sensitivity/fast_isolation_table0.2_minother_4_wfh_0_trace_0.95_symp_0.6_app_0.53_tasymp_0.5.csv
outputs/sensitivity/compile_table_SAR.csv
outputs/sensitivity/compile_table_duration.csv
outputs/sensitivity/CC_SAR_higher_table0.2_minother_4_wfh_0_trace_0.95_symp_0.6_app_0.53_tasymp_0.5.csv
outputs/rr_supp_plot.png
outputs/rr_out/RR_pop_testing.csv
outputs/rr_out/RR_no_measures.csv
outputs/rr_out/RR_isolation_only.csv
outputs/rr_out/RR_isolation_manual_tracing_met_only.csv
outputs/rr_out/RR_isolation_manual_tracing_met_limit.csv
outputs/rr_out/RR_isolation_manual_tracing.csv
outputs/rr_out/RR_hh_work_only.csv
outputs/rr_out/RR_hh_quaratine_only.csv
outputs/rr_out/RR_cell_phone_met_limit.csv
outputs/rr_out/RR_cell_phone.csv
outputs/plot_symp.png
outputs/plot2.png
outputs/plot1.png
